@import "./../../../assets/mixins";

.block-popular {
  &__inner {
    
  }
}

.block-popular-items {
  position: relative;
  font-size: 0;
  .clearfix();
  &__item {
    @media (min-width: 560px) {
      float: left;
      width: 100%/2;
      
    }
    
    @media (min-width: 960px) {
      width: 100%/3;
    }
  }
}

.block-popular-box {
  display: block;
  text-decoration: none;
  .box-height() {
    height: 352px;
  }
  
  background-size: cover !important;
  position: relative;
  .box-height();
  &__inner {
    padding: 57px 70px;
  }
  
  &__top {
    
  }
  &__bottom {
    position: absolute;
    bottom: 57px;
    left: 70px;
  }
  
  &__city {
    &__inner {
      /* Патайя Тайланд: */
      font-family: PFAgoraWeb, PFAgora Sans Pro, PFAgoraSansPro-Bold, sans-serif;
      font-weight: 700;
      font-size: 30px;
      color: #FFFFFF;
      letter-spacing: 0.42px;
      line-height: 25px;
    }
  }
  
  &__country {
    margin-bottom: 44px;
    &__inner {
      
      font-family: PFAgoraWeb, PFAgora Sans Pro, PFAgoraSansPro, PFAgoraSansPro-Regular, sans-serif;
      font-weight: 400;
      font-size: 18px;
      color: #FFFFFF;
      letter-spacing: 0.42px;
      line-height: 25px;
    }
  }
  
  &__date {
    &__inner {
      /* 20-25 августа, 2 взр: */
      font-family: PFAgoraWeb, PFAgora Sans Pro, PFAgoraSansPro, PFAgoraSansPro-Regular, sans-serif;
      font-weight: 400;
      font-size: 14px;
      color: #FFFFFF;
      letter-spacing: 0.2px;
      line-height: 18px;
    }
  }
  
  &__type {
    margin-bottom: 10px;
    &__inner {
      /* 20-25 августа, 2 взр: */
      font-family: PFAgoraWeb, PFAgora Sans Pro, PFAgoraSansPro, PFAgoraSansPro-Regular, sans-serif;
      font-weight: 400;
      font-size: 14px;
      color: #FFFFFF;
      letter-spacing: 0.2px;
      line-height: 18px;
    }
  }
  
  &__price {
    &__inner {
      /* от 10 870 ₽: */
      font-family: PFAgoraWeb, PFAgora Sans Pro, PFAgoraSansPro-Bold, sans-serif;
      font-weight: 700;
      font-size: 24px;
      color: #FFFFFF;
      letter-spacing: 0.34px;
    }
  }
  
  &.center {
    text-align: center;
    &:before, &:after {
      content: '';
      .box-height();
      vertical-align: middle;
      display: inline-block;
      width: 0;
    }
  }
  &.center & {
    &__inner {
      max-width: 80%;
      padding: 0;
      display: inline-block;
      vertical-align: middle;
    }
    
    &__top {
      
    }
    &__bottom {
      position: relative;
      left: auto;
      bottom: auto;
    }
    
    &__city, &__country, &__date, &__type, &__price {
      text-align: center;
    }
    
    &__city {
      &__inner {
      }
    }
    
    &__country {
      &__inner {
        
      }
    }
    
    &__date {
      &__inner {
      }
    }
    
    &__type {
      &__inner {
      }
    }
    
    &__price {
      &__inner {
      }
    }
  }
}