.block-how {
  padding-top: 62px;
  padding-bottom: 73px;
  background: #3F4849 url('@{pathImg}back/how-back-1.png') center no-repeat;
  background-size: cover;
  
  &__title{
    margin-bottom: 66px;
  }
}

.block-how_search {
  margin-bottom: 37px;
  
  
  &__icon {
    text-align: center;
    &__img {
      max-width: 100%;
    }
  }
  
  &__text {
    &__title {
      &__inner {
        /* Задайте параметры: */
        font-family: Roboto, Roboto-Bold, sans-serif;
        font-weight: 700;
        font-size: 16px;
        color: #FFFFFF;
        letter-spacing: 0.22px;
      }
    }
    &__desc {
      &__inner {
        /* Задайте необходимые: */
        font-family: Roboto, Roboto-Light, sans-serif;
        font-weight: 300;
        font-size: 15px;
        color: #FFFFFF;
        letter-spacing: 0.21px;
        line-height: 26px;
      }
    }
  }
}