@font-face {
    font-family: "PFAgoraSansPro-Regular";
    src: url("pfagorasanspro-reg.eot");
    src: url("pfagorasanspro-reg.eot?#iefix") format("embedded-opentype"),
         url("pfagorasanspro-reg.woff2") format("woff2"),
         url("pfagorasanspro-reg.woff") format("woff"),
         url("pfagorasanspro-reg.ttf") format("ttf"),
         url("pfagorasanspro-reg.svg#PFAgoraSansPro-Regular") format("svg");
    font-style: normal;
    font-weight: 300;
}