@font-face {
    font-family: "PFAgoraSansPro-Bold";
    src: url("pfagorasanspro-bold.eot");
    src: url("pfagorasanspro-bold.eot?#iefix") format("embedded-opentype"),
         url("pfagorasanspro-bold.woff2") format("woff2"),
         url("pfagorasanspro-bold.woff") format("woff"),
         url("pfagorasanspro-bold.ttf") format("ttf"),
         url("pfagorasanspro-bold.svg#PFAgoraSansPro-Bold") format("svg");
    font-style: normal;
    font-weight: 700;
}