mixin block_popular_box(big, src, from, to, country, price)
  //
  a.block-popular-box(href="javascript:void(0)", class=(big ? 'big' : ''))
    .block-popular-box__back(style=(src ? "background-image: url('" + config.path.images + "popular/" + src + ".png');" : ""))
    .block-popular-box__from
      span.block-popular-box__from__inner!= from
    .block-popular-box__to
      span.block-popular-box__to__inner —
      span.block-popular-box__to__inner!=to
    .block-popular-box__country
      span.block-popular-box__country__inner!= country
    .block-popular-box__price
      span.block-popular-box__price__inner!= price


section.block-popular
  .block-popular__title
    .container
      h2.title.white.bold
        span.title__inner ПОПУЛЯРНЫЕ НАПРАВЛЕНИЯ
  .block-popular__content
    .container
      .block-popular-items
        .block-popular-items__item.big
          +block_popular_box(true, 'popular-moscow_snt_peter', 'Москва', 'Санкт-Петербург', 'Россия', 'от 23 450 ₽')
        .block-popular-items__item
          +block_popular_box(false, false, 'Москва', 'Калининград', 'Россия', 'от 23 450 ₽')
        .block-popular-items__item
          +block_popular_box(false, false, 'Москва', 'Екатеринбург', 'Россия', 'от 23 450 ₽')
        .block-popular-items__item
          +block_popular_box(false, false, 'Москва', 'Калининград', 'Россия', 'от 23 450 ₽')
        .block-popular-items__item
          +block_popular_box(false, 'popular-snt_peter_hels', 'Санкт-Петербург', 'Хельсинки', 'Финляндия', 'от 23 450 ₽')

