section.block-how
  .block-how__title
    .container
      h2.title.bold
        span.title__inner Как мы работаем
  .block-how__content
    .container
      .row
        .col.col-sm--12-5
          .block-how__icon
            img(src=config.path.images + 'how/how-work.svg', width=269, height=216).block-how__icon__img
        .col.col-sm--12-7
          .block-how__text
            .block-how__text__inner Мы находим для вас лучший вариант, а вы сами выбираете, где купить билет. Покупка осуществляется на сайте компании-партнера.
            .block-how__text__inner Мы не взимаем комиссий, не устанавливаем наценок и не берем никакого вознаграждения с наших пользователей. Мы просто показывает вам, у кого из наших партнеров самые выгодные предложения.
            .block-how__text__inner У нас большая база компаний-партнеров, у вас — огромный выбор маршрутов, акций и скидок. Мы ищем и сравниваем цены по множеству источников, учитывая акции и спецпредложения.