@import "./../sections/l6/l6-top/index";

.block-title {
  &__text {
    text-align: center;
    margin-bottom: 26px;
    &__inner {
      /* Наши преимущества: */
      font-family: Lucida Grande, LucidaGrande, sans-serif;
      font-weight: 400;
      font-size: 35px;
      color: #444444;
      letter-spacing: 0px;
    }
  }
  
  &__icon {
    position: relative;
    
    &__line {
      position: absolute;
      top: 65px/2;
      left: 0;
      width: 100%;
      border: 1px solid #979797;
      border-bottom: 0;
      border-left: 0;
      border-right: 0;
      z-index: 0;
      
      &:before {
        content: '';
        width: 164px;
        background: white;
        height: 20px;
        position: absolute;
        top: -10px;
        left: 50%;
        margin-left: -164px/2;
        
      }
    }
    
    &__circle {
      position: relative;
      z-index: 1;
      margin: 0 auto;
      /* Oval: */
      border: 1px solid #979797;
      box-sizing: border-box;
      border-radius: 50%;
      width: 65px;
      height: 65px;
      text-align: center;
      
      &:before, &:after {
        display: inline-block;
        content: '';
        width: 0;
        height: 65px - 2;
        vertical-align: middle;
      }
      &__img {
        display: inline-block;
        vertical-align: middle;
      }
    }
  }
  
  &.gray & {
    //E9E9E9
    
    &__icon {
      
      &__line {
        
        &:before {
          background: #E9E9E9;
          
        }
      }
      
    }
  }
}

@import "./../sections/l6/l6-advantages/index";
@import "./../sections/l6/l6-best/index";
@import "./../sections/l6/l6-alternative/index";
@import "./../sections/footer/index";