mixin block_top_price(src, size, title, text)
  //
  .block-top-price
    .block-top-price__icon
      img(src=config.path.images + 'avia/price/' + src + '.svg').block-top-price__icon__img
    .block-top-price__text
      .block-top-price__title
        span.block-top-price__title__inner!= title
      .block-top-price__desc
        span.block-top-price__desc__inner!= text

section.block-top
  .block-top__header(style="background-color:#719BA0; background-image: url('" + config.path.images + "back/top-back-2.png')")
    .block-top__logo.text-center
      .container
        .block-top__logo__container
          a(href='https://www.onetwotrip.com', target='_blank').block-top__logo__link
            img(src=config.path.images + 'logo/logo-dark.svg', width=61, height=60).block-top__logo__img
    .block-top__text.text-center
      .container
        .block-top__text__circle
          .block-top__text__circle__inner
            .block-top__text__title
              h1.block-top__text__title__inner Лучшие цены
            .block-top__text__desc
              span.block-top__text__desc__inner на авиабилеты
  .block-top__body
    .block-top__body__form
      .container
        .block-form.full
          .block-form__inner
            script(charset="utf-8", src="//partner.onetwotrip.com/build/widget/form.widget.load.js?id=8152", async)
    .block-top__body__price
      .container
        .row
          .col.col-sm--3-1
            +block_top_price('price-time', [50, 58],'Моментальная покупка', 'Сразу после оплаты вы получите все документы, подтверждающие ваше путешествие, на почту.')
          .col.col-sm--3-1
            +block_top_price('price-key', [64, 64],'Спокойствие', 'Мы работаем с проверенными партнерами по всему миру, поэтому вы можете не переживать за своё путешествие.')
          .col.col-sm--3-1
            +block_top_price('price-variants', [82, 74],'Сотни тысяч вариантов', 'В вашем распоряжении предложения от более чем 300 000 отелей и 700 авиакомпаний по всему миру.')
