section.block-advantages
  .block-advantages__content
    .container
      .row
        .col.col-sm--12-4
          .block-advantages__icon
            img(src=config.path.images+'rzhd/advantages/medal.svg', width=138, height=211).block-advantages__icon__img
        .col.col-sm--12-8
          .block-advantages__title
            h2.title.bold
              span.title__inner НАШИ ПРЕИМУЩЕСТВА
          ul.block-advantages__list
            li.block-advantages__list__item
              span Мы находим для вас лучший вариант, а вы сами выбираете, где купить билет.
            li.block-advantages__list__item
              span Мы не взимаем комиссий, не устанавливаем наценок и не берем никакого вознаграждения с наших пользователей.
            li.block-advantages__list__item
              span У нас большая база компаний-партнеров, у вас — огромный выбор маршрутов, акций и скидок.
