.block-top {
  background: #719BA0;
  &__header {
    padding-top: 27px;
    box-sizing: border-box;
    height: 362px;
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;
    
  }
  
  &__logo {
    &__container {
      
      position: relative;
      height: 0;
    }
    &__link {
      display: block;
      position: absolute;
      left: 0;
      top: 0;
    }
  }
  
  &__text {
    &__circle {
      /* Oval 3: */
      background: #2D7997;
      height: 262px;
      width: 262px;
      border-radius: 50%;
      margin: 0 auto 0;
      font-size: 0;
      
      &:before, &:after {
        content: '';
        height: 262px;
        display: inline-block;
        vertical-align: middle;
      }
      
      &__inner {
        display: inline-block;
        vertical-align: middle;
        max-width: 98%;
      }
    }
    
    &__title {
      &__inner {
        /* Лучшие цены: */
        font-family: IntroWeb, Intro-Black-Alt, Intro, sans-serif;
        font-weight: 900;
        font-size: 45px;
        color: #FFFFFF;
        letter-spacing: 0.64px;
        line-height: 45px;
      }
    }
    
    &__desc {
      &__inner {
        /* на авиабилеты: */
        font-family: IntroWeb, Intro-Light, Intro, sans-serif;
        font-weight: 300;
        font-size: 29px;
        color: #FFFFFF;
        letter-spacing: 0.41px;
        line-height: 45px;
      }
    }
  }
  &__body {
    background: #719BA0;
    padding-bottom: 76px - 30;
    
    &__form {
      margin-bottom: 56px;
    }
  }
}

.block-top-price {
  margin-bottom: 30px;
  font-size: 0;
  &__text,
  &__icon {
    display: inline-block;
    vertical-align: middle;
    @media (min-width: 768px) {
      display: block;
    }
  }
  &__icon {
    text-align: center;
    margin-bottom: 23px;
    width: 30%;
    @media (min-width: 768px) {
      width: auto;
    }
    &:before, &:after {
      content: '';
      width: 0;
      height: 74px;
      display: inline-block;
      vertical-align: middle;
    }
    &__img {
      display: inline;
      vertical-align: middle;
    }
  }
  
  &__text {
    width: 60%;
    text-align: left;
    @media (min-width: 768px) {
      width: auto;
      text-align: center;
    }
  }
  &__title {
    margin: 0 auto 13px;
    @media (min-width: 768px) {
      max-width: 50%;
      
    }
    &__inner {
      /* Моментальная покупка: */
      font-family: HelveticaNeueWeb, Helvetica Neue, HelveticaNeue-Bold, Roboto, sans-serif;
      font-weight: 700;
      font-size: 18px;
      color: #FFFFFF;
      letter-spacing: 0.25px;
      line-height: 26px;
    }
  }
  
  &__desc {
    &__inner {
      /* Сразу после оплаты в: */
      font-family: HelveticaNeueWeb, Helvetica Neue, HelveticaNeue-Roman, HelveticaNeue-Regular, Roboto, sans-serif;
      font-weight: 400;
      font-size: 14px;
      color: #FFFFFF;
      letter-spacing: 0.2px;
      line-height: 27px;
    }
  }
  
}