mixin block_info(src, size, title, desc)
  //
  .block-info
    .block-info__icon
      img(src=config.path.images + 'hotels/' + src + '.png', width=size[0], height=size[1]).block-info__icon__img
    .block-info__text
      .block-info__title
        span.block-info__title__inner!= title
      .block-info__desc
        span.block-info__desc__inner!= desc


section.block-infos
  .block-infos__content
    .container
      .row
        .col.col-md--8-4
          +block_info('hotels-best', [97, 70], 'Выбирайте лучшее','Более 900 тыс. отелей, апартаментов, хостелов во всех уголках мира на любой вкус и кошелек.')
        .col.col-md--8-4
          +block_info('hotels-bonus', [96, 86], 'Получайте бонусы','Вернём до 10% с каждого бронирования (1 трипкоин = 1 ₽) - копите и путешествуйте дешевле... еще дешевле… бесплатно!')
        .col.col-md--8-4
          +block_info('hotels-save', [91, 86], 'Не переплачивайте','У нас гарантированно честные и выгодные цены: без комиссий и скрытых платежей, все налоги включены.')
        .col.col-md--8-4
          +block_info('hotels-info', [116, 72], 'Знайте об отеле всё','Рейтинг на основе отзывов постояльцев, год постройки и последнего ремонта, реальные фотографии от гостей.')
