@import "./../../../assets/mixins";

.block-top {
  padding-bottom: 95px;
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  &__header {
    /* Rectangle 25 Copy: */
    background: fade(#C91A1A, 69%);
    margin-bottom: 126px;
    &__inner {
      position: relative;
      padding: 28px 0 29px;
    }
    
    &__logo {
      
    }
    
    &__circle {
      height: 201px;
      width: 201px;
      position: absolute;
      top: 28px;
      right: 0;
      
      /* Oval 4: */
      background: #FFFFFF;
      border-radius: 50%;
      text-align: center;
      .vertical-middle(201px);
      
      &__inner {
        vertical-align: middle;
        display: inline-block;
        max-width: 98%;
      }
      
      &__title {
        margin-bottom: 3px;
        &__inner {
          text-transform: uppercase;
          /* САПСАН: */
          font-family: IntroWeb, Intro-Regular-Alt, Intro, sans-serif;
          font-weight: 400;
          font-size: 30px;
          color: #D0021B;
          letter-spacing: 1.49px;
        }
      }
      
      &__cost {
        &__inner {
          /* от 1500 ₽: */
          font-family: HelveticaNeueWeb, Helvetica Neue, HelveticaNeue-Light, Roboto, sans-serif;
          font-weight: 300;
          font-size: 23px;
          color: #D0021B;
          letter-spacing: 1.15px;
        }
      }
      
    }
  }
  
  &__text {
    margin-bottom: 86px;
    &__title {
      &__inner {
        /* БИЛЕТЫ НА ПОЕЗДА РЖД: */
        font-family: Open Sans, OpenSans-Bold, Roboto, sans-serif;
        font-weight: 700;
        font-size: 43px;
        color: #FFFFFF;
        letter-spacing: 0.61px;
      }
    }
    
    &__desc {
      &__inner {
        /* Неограниченный выбор: */
        font-family: Open Sans, OpenSans-Light, Roboto, sans-serif;
        font-weight: 300;
        font-size: 28px;
        color: #FFFFFF;
        letter-spacing: 0.4px;
        line-height: 39px;
      }
    }
  }
  
  &__form {
    
  }
}