mixin block_popular_col(src, name, country , infos)
  .block-popular-col
    .block-popular-col__image(style="background-image: url('" + config.path.images + "popular/" + src + ".png');")
      .block-popular-col__image__inner
        .block-popular-col__image__name
          span.block-popular-col__image__name__inner!= name
        .block-popular-col__image__country
          span.block-popular-col__image__country__inner!= country
    .block-popular-col__info
      each info, index in infos
        .block-popular-col__info__row
          .block-popular-col__info__row__from
            span.block-popular-col__info__row__from__inner!= info[0]
          .block-popular-col__info__row__price
            span.block-popular-col__info__row__price__inner!= info[1]


section.block-popular
  .block-popular__title
    .container
      h2.title.bold.white
        span.title__inner Популярные направления перелетов
  .block-popular__content
    .container
      .row
        .col.col-md--8-4.col-sm--8-4.col-lg--3-1
          +block_popular_col('popular-phuket', 'Пхукет', 'Тайланд', [
            ['Из Москвы', 'от 13 500 ₽'],
            ['Из Новосибирска', 'от 14 560 ₽'],
            ['Из Екатеринбурга', 'от 17 588 ₽'],
            ['Из Санкт-Петербурга', 'от 19 550 ₽']])
        .col.col-md--8-4.col-sm--8-4.col-lg--3-1
          +block_popular_col('popular-new_york', 'Нью-Йорк', 'США', [
            ['Из Москвы', 'от 13 500 ₽'],
            ['Из Новосибирска', 'от 14 560 ₽'],
            ['Из Екатеринбурга', 'от 17 588 ₽'],
            ['Из Санкт-Петербурга', 'от 19 550 ₽']])
        .col.col-md--8-4.col-sm--8-4.col-lg--3-1
          +block_popular_col('popular-kaliningrad_2', 'Калининград', 'Россия', [
            ['Из Москвы', 'от 13 500 ₽'],
            ['Из Новосибирска', 'от 14 560 ₽'],
            ['Из Екатеринбурга', 'от 17 588 ₽'],
            ['Из Санкт-Петербурга', 'от 19 550 ₽']])
        .col.col-md--8-4.col-sm--8-4.col-lg--3-1
          +block_popular_col('popular-hong_kong', 'Гонконг', 'Гонконг', [
            ['Из Москвы', 'от 13 500 ₽'],
            ['Из Новосибирска', 'от 14 560 ₽'],
            ['Из Екатеринбурга', 'от 17 588 ₽'],
            ['Из Санкт-Петербурга', 'от 19 550 ₽']])
        .col.col-md--8-4.col-sm--8-4.col-lg--3-1
          +block_popular_col('popular-paris', 'Париж', 'Франция', [
            ['Из Москвы', 'от 13 500 ₽'],
            ['Из Новосибирска', 'от 14 560 ₽'],
            ['Из Екатеринбурга', 'от 17 588 ₽'],
            ['Из Санкт-Петербурга', 'от 19 550 ₽']])
        .col.col-md--8-4.col-sm--8-4.col-lg--3-1
          +block_popular_col('popular-berlin', 'Берлин', 'Германия', [
            ['Из Москвы', 'от 13 500 ₽'],
            ['Из Новосибирска', 'от 14 560 ₽'],
            ['Из Екатеринбурга', 'от 17 588 ₽'],
            ['Из Санкт-Петербурга', 'от 19 550 ₽']])
