.container {
  margin: 0 10px;
  
  @media (min-width: 768px) {
    margin: 0 auto;
    width: 560px;
  }
  
  @media (min-width: 960px) {
    margin: 0 auto;
    width: 768px;
  }
  
  @media (min-width: 1200px) {
    margin: 0 auto;
    width: 960px;
  }
}