@import "./../assets/mixins";

@gutter_width: 20px;

.column__setter(@count, @index) when (@count > (@index)) {
  
  &--@{count}-@{index} {
    width: 100% / @count * @index;
  }
  .column__setter(@count, (@index + 1));
}

.column__setter(@count, @index) when (@count <= (@index + 1)) {
}

.column__offset__setter(@count, @index) when (@count > (@index)) {
  
  &--offset-@{count}-@{index} {
    margin-left: 100% / @count * @index;
  }
  .column__offset__setter(@count, (@index + 1));
}

.column__offset__setter(@count, @index) when (@count <= (@index + 1)) {
}

.row {
  .clearfix();
  margin: 0 @gutter_width/-2;
}

.col {
  float: left;
  min-height: 1px;
  padding: 0 @gutter_width/2;
  box-sizing: border-box;
  width: 100%;
  
  
  .column__setter(3, 1);
  .column__setter(5, 1);
  .column__setter(8, 1);
  .column__setter(12, 1);
  
  .column__offset__setter(8, 0);
  
  @media (min-width: 320px) {
    &-xs {
      .column__setter(3, 1);
      .column__setter(5, 1);
      .column__setter(8, 1);
      .column__setter(12, 1);
      .column__offset__setter(6, 0);
      .column__offset__setter(8, 0);
    }
  }
  
  @media (min-width: 375px) {
    &-xss {
      .column__setter(3, 1);
      .column__setter(5, 1);
      .column__setter(8, 1);
      .column__setter(12, 1);
      .column__offset__setter(8, 0);
    }
  }
  
  @media (min-width: 768px) {
    &-sm {
      .column__setter(3, 1);
      .column__setter(5, 1);
      .column__setter(8, 1);
      .column__setter(12, 1);
      .column__offset__setter(8, 0);
    }
  }
  
  @media (min-width: 960px) {
    &-md {
      .column__setter(3, 1);
      .column__setter(5, 1);
      .column__setter(8, 1);
      .column__setter(12, 1);
      .column__offset__setter(8, 0);
    }
  }
  
  @media (min-width: 1200px) {
    &-lg {
      .column__setter(3, 1);
      .column__setter(5, 1);
      .column__setter(8, 1);
      .column__setter(12, 1);
      .column__offset__setter(8, 0);
    }
  }
}