mixin block_calendar_date(month, price)
  a(href="javascript:void(0);").block-calendar_date
    .block-calendar_date__inner
      .block-calendar_date__month
        span.block-calendar_date__month__inner!= month
      .block-calendar_date__price
        span.block-calendar_date__price__inner!= price


section.block-cal
  .block-cal__title
    .container
      h2.title.bold
        span.title__inner Календарь низких цен
  .block-cal__calendar
    .container
      div.block-calendar
        .block-calendar__options
          .block-calendar_options
            form

              .block-calendar_options__main
                .block-calendar_options__main__inputs
                  label.block-calendar_options__control
                    input(type="text", name="from", value="Москва").block-calendar_options__control__input
                  label.block-calendar_options__control

                    input(type="text", name="to", value="Копенгаген").block-calendar_options__control__input
                .block-calendar_options__main__radio
                  label.block-calendar_options__control
                    input(type="radio", name="type", checked="checked").block-calendar_options__control__radio
                    span Туда и обратно
                  label.block-calendar_options__control
                    input(type="radio", name="type").block-calendar_options__control__radio
                    span В одну сторону
                hr.block-calendar_options__del
              .block-calendar_options__add
                hr.block-calendar_options__del
                label.block-calendar_options__control
                  input(type="checkbox", name="type").block-calendar_options__control__check
                  span Только прямой перелет



        .block-calendar__result
          .block-calendar__result__list
            .block-calendar__result__item
              +block_calendar_date('Август', '13 450 ₽')
            .block-calendar__result__item
              +block_calendar_date('Август', '12 450 ₽')
            .block-calendar__result__item
              +block_calendar_date('Август', '12 450 ₽')
            .block-calendar__result__item
              +block_calendar_date('Август', '13 450 ₽')
            .block-calendar__result__item
              +block_calendar_date('Август', '12 450 ₽')
            .block-calendar__result__item
              +block_calendar_date('Август', '12 450 ₽')
            .block-calendar__result__item
              +block_calendar_date('Август', '13 450 ₽')
            .block-calendar__result__item
              +block_calendar_date('Август', '12 450 ₽')
            .block-calendar__result__item
              +block_calendar_date('Август', '12 450 ₽')
            .block-calendar__result__item
              +block_calendar_date('Август', '13 450 ₽')
            .block-calendar__result__item
              +block_calendar_date('Август', '12 450 ₽')
            .block-calendar__result__item
              +block_calendar_date('Август', '12 450 ₽')

