@import "./../../../assets/mixins";
.block-popular {
  padding-top: 54px;
  padding-bottom: (93px - 45px);
  background: #2D7997;
  
  &__title {
    margin-bottom: 65px;
  }
  
  &__content {
    
  }
}

.block-popular-col {
  margin-bottom: 45px;
  &__image {
    background-size: cover;
    height: 190px;
    text-align: center;
    
    &:after, &:before {
      content: '';
      height: 190px;
      width: 0;
      display: inline-block;
      vertical-align: middle;
    }
    
    &__inner {
      display: inline-block;
      vertical-align: middle;
    }
    
    &__name {
      margin-bottom: 5px;
      &__inner {
        /* Пхукет: */
        font-family: HelveticaNeueWeb, Helvetica Neue, HelveticaNeue-Bold, Roboto, sans-serif;
        font-weight: 700;
        font-size: 28px;
        color: #FFFFFF;
        letter-spacing: 0.4px;
      }
    }
    
    &__country {
      &__inner {
        /* Тайланд: */
        font-family: HelveticaNeueWeb, Helvetica Neue, HelveticaNeue-Light, Roboto, sans-serif;
        font-weight: 300;
        font-size: 18px;
        color: #FFFFFF;
        letter-spacing: 0.25px;
      }
    }
  }
  
  &__info {
    background: white;
    padding: 23px 28px 0;
    height: 365px - 190px;
    box-sizing: border-box;
    overflow: auto;
    &__row {
      .clearfix();
      &__from, &__price {
        
        &__inner {
          /* Из Москвы от 13 500: */
          font-family: HelveticaNeueWeb, Helvetica Neue, HelveticaNeue-Roman, HelveticaNeue-Regular, Roboto, sans-serif;
          font-weight: 400;
          font-size: 14px;
          color: #707070;
          letter-spacing: 0.2px;
          line-height: 30px;
        }
      }
      &__from {
        float: left;
        &__inner {
          
        }
      }
      
      &__price {
        float: right;
        &__inner {
          
        }
      }
    }
  }
}