@import '../../../assets/mixins';

.block-best {
  background: #E9E9E9;
  padding-top: 61px;
  padding-bottom: 96px - 36;
  &__title {
    margin-bottom: 54px;
  }
}

.block-offer {
  display: block;
  text-decoration: none;
  background: white;
  cursor: pointer;
  margin-bottom: 36px;
  
  .transition(box-shadow .2s ease);
  &__header {
    padding: 19px 22px 25px;
    height: 142px;
    overflow: hidden;
    box-sizing: border-box;
    
    &__city {
      &__inner {
        /* Копенгаген Дания: */
        font-family: Lucida Grande, LucidaGrande, LucidaGrande-Bold, sans-serif;
        font-weight: 700;
        font-size: 20px;
        color: #242424;
        letter-spacing: 0px;
        line-height: 19px;
      }
    }
    
    &__country {
      margin-bottom: 13px;
      &__inner {
        
        font-family: Lucida Grande, LucidaGrande, sans-serif;
        font-weight: 400;
        font-size: 13px;
        color: #242424;
        letter-spacing: 0px;
        line-height: 19px;
      }
    }
    
    &__desc {
      margin-bottom: 8px;
      &__inner {
        /* 20-25 августа, 2 взр: */
        font-family: Roboto, Roboto-Regular, sans-serif;
        font-weight: 400;
        font-size: 13px;
        color: #93CAC0;
        letter-spacing: 0.18px;
        line-height: 18px;
      }
    }
    
    &__price {
      &__inner {
        /* от 10 870 ₽: */
        font-family: Roboto, Roboto-Bold, sans-serif;
        font-weight: 700;
        font-size: 18px;
        color: #242424;
        letter-spacing: 0.25px;
      }
    }
  }
  
  &__bottom {
    height: 195px;
    position: relative;
    &__image {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-size: cover;
      background-position: center;
    }
  }
  
  &:hover {
    box-shadow: 1px 2px 10px rgba(0, 0, 0, .2);
  }
}