mixin block_popular_box(src, color, title, desc, price)
  a.block-popular-box(href="javascript:void(0);", class=(!src ? 'center' : ''),style=(color ? "background-color: " + color + ";" : ""))
    .block-popular-box__back(style=(src ? "background-image: url(" + config.path.images + "popular/" + src + ".png)" : ""))
    .block-popular-box__inner
      .block-popular-box__title
        span.block-popular-box__title__inner!= title
      .block-popular-box__desc
        span.block-popular-box__desc__inner!= desc
      .block-popular-box__price
        span.block-popular-box__price__inner!= price

section.block-popular
  .block-popular__title
    .container
      h2.title
        span.title__inner Самые популярные направления перелётов
  .block-popular__content
    .container
      .block-populars
        .block-populars__item.big
          +block_popular_box('popular-washington', false,'Вашингтон','ИЗ МОСКВЫ','от 23 450 ₽')
        .block-populars__item
          +block_popular_box('popular-paris',false, 'Париж','ИЗ МОСКВЫ','от 10 870 ₽')
        .block-populars__item
          +block_popular_box(false,'#344145', 'Дубай','ИЗ САНКТ-ПЕТЕРБУРГА','от 10 870 ₽')
        .block-populars__item
          +block_popular_box('popular-kaliningrad',false, 'Калининград','ИЗ МОСКВЫ','от 10 870 ₽')
        .block-populars__item
          +block_popular_box(false,'#7ACDD5', 'Нью-Йорк','ИЗ МОСКВЫ','от 10 870 ₽')
        .block-populars__item
          +block_popular_box('popular-bali',false, 'Бали','ИЗ МОСКВЫ','от 10 870 ₽')
        .block-populars__item
          +block_popular_box('popular-santorini',false, 'Сарторини','ИЗ МОСКВЫ','от 10 870 ₽')
  .block-popular__footer
    .container
      .block-popular__footer__content
        span.block-popular__footer__inner При выборе авиарейса, мы направляем вас, абсолютно бесплатно, к нашим проверенным партнёрам, которые непосредственно продают авиабилеты. Мы показываем вам, у кого из наших партнеров самые выгодные предложения, поэтому вы не переплачиваете за билет.

