mixin block_how_search(src, size, title, desc)
  .block-how_search
    .row
      .col.col-xs--8-2
        .block-how_search__icon
          img(src=config.path.images + 'avia/search/' + src + '.svg', width=size[0], height=size[1]).block-how_search__icon__img
      .col.col-xs--8-6
        .block-how_search__text
          .block-how_search__text__title
            span.block-how_search__text__title__inner!= title
          .block-how_search__text__desc
            span.block-how_search__text__desc__inner!= desc





section.block-how
  .block-how__title
    .container
      h2.title.white.light
        span.title__inner Как работает наш поиск авиабилетов
  .block-how__content
    .container
      .row
        .col.col-lg--8-4
          +block_how_search('search-settings', [65, 57], 'Задайте параметры', 'Задайте необходимые параметры путешествия (маршрут, даты, количество и возраст пассажиров), жмите на кнопку «Искать авиабилеты»')
        .col.col-lg--8-4
          +block_how_search('search-flight', [71, 58], 'Выбирайте перелет', 'Выбрав наилучший вариант перелёта, нажмите на кнопку «Подробнее», и наша система перенесёт вас на сайт авиакомпании или агентства, где будет производиться бронирование. ')
        .col.col-lg--8-4
          +block_how_search('search-offers', [59, 69], 'Смотрите предложения', 'В получившемся списке предложения можно отфильтровать по количеству и длительности пересадок, времени вылета или любимым авиакомпаниям.')
        .col.col-lg--8-4
          +block_how_search('search-buy', [71, 58], 'Совершайте покупку', 'После совершения покупки на указанный вами е-мейл будет отправлен электронный билет, который останется лишь распечатать и взять с собой в аэропорт.')
