section.block-text
  .block-text__content
    .container
      .block-text-par
        .block-text-par__inner Мы находим для вас лучший вариант, а вы сами выбираете, где купить билет. Покупка осуществляется на сайте компании-партнера.

      .block-text-par
        .block-text-par__inner Мы не взимаем комиссий, не устанавливаем наценок и не берем никакого вознаграждения с наших пользователей. Мы просто показывает вам, у кого из наших партнеров самые выгодные предложения.

      .block-text-par
        .block-text-par__inner У нас большая база компаний-партнеров, у вас — огромный выбор маршрутов, акций и скидок. Мы ищем и сравниваем цены по множеству источников, учитывая акции и спецпредложения.