mixin block_popular_item(image, color, city, country, date, type, price)
  a.block-popular-box(href='javascript:void(0)', class=(!image ? 'center' : ''), style=(image ? 'background: ' + color + ' url(' + config.path.images + 'popular/' + image + '.png) center no-repeat;' : 'background: ' + color + ';'))
    .block-popular-box__inner
      .block-popular-box__top
        .block-popular-box__city
          span.block-popular-box__city__inner!= city
        .block-popular-box__country
          span.block-popular-box__country__inner!= country
      .block-popular-box__bottom
        .block-popular-box__date
          span.block-popular-box__date__inner!= date
        .block-popular-box__type
          span.block-popular-box__type__inner!= type
        .block-popular-box__price
          span.block-popular-box__price__inner!= price

section.block-popular
  .block-popular__inner
    .block-popular-items
      .block-popular-items__item
        +block_popular_item('popular-tenerif', '#6763D9', 'Тенерифе', 'Тайланд', '20-25 августа', '2 взрослых', 'от 10 870 ₽')
      .block-popular-items__item
        +block_popular_item('popular-patai', '#C0B565', 'Патайя', 'Тайланд', '20-25 августа', '2 взрослых', 'от 10 870 ₽')
      .block-popular-items__item
        +block_popular_item(false, '#91BC47', 'Берлин', 'Германия', '20-25 августа', '2 взрослых', 'от 10 870 ₽')
      .block-popular-items__item
        +block_popular_item(false, '#5292BB', 'Гонконг', 'Китай', '20-25 августа', '2 взрослых', 'от 10 870 ₽')
      .block-popular-items__item
        +block_popular_item('popular-kopengagen', '#6763D9', 'Копенгаген', 'Дания', '20-25 августа', '2 взрослых', 'от 10 870 ₽')
      .block-popular-items__item
        +block_popular_item('popular-stokgolm', '#5292BB', 'Стокгольм', 'Швеция', '20-25 августа', '2 взрослых', 'от 10 870 ₽')
