mixin block_taste(src, size, name)
  .block-trip_taste
    .block-trip_taste__icon
      img(src=config.path.images + 'avia/trip-taste/' + src + '.svg', width=size[0], height=size[1])
    .block-trip_taste__desc
      .text.gray-blue
        span.text__inner!= name


section.block-taste
  .block-taste__title.text-center
    .container
      h2.title.white.light
        span.title__inner Путешествия на любой вкус
  .block-taste__desc.text-center
    .container
      .text.gray-blue.light
        span.text__inner Воспользуйтесь нашим поиском, чтобы найти самые выгодные предложения.
  .block-taste__list
    .container
      .row
        .col.col-sm--5-1.col-xs--3-1
          +block_taste('trip-beach', [87, 93],'Пляжный отдых')
        .col.col-sm--5-1.col-xs--3-1
          +block_taste('trip-nature', [87, 87],'Природа')
        .col.col-sm--5-1.col-xs--3-1
          +block_taste('trip-business', [87, 95],'Деловая поездка')
        .col.col-sm--5-1.col-xs--3-1.col-xs--offset-6-1.col-sm--offset-8-0
          +block_taste('trip-shop', [87, 93],'Шоппинг')
        .col.col-sm--5-1.col-xs--3-1
          +block_taste('trip-city', [87, 92],'Город')