.block-map {
  background: #453534;
  padding-top: 90px;
  padding-bottom: 112px;
  overflow: hidden;
  
  &__title {
    margin-bottom: 20px;
  }
  
  &__content {
    position: relative;
    &__inner {
      
    }
  }
}

.block-map-image {
  position: relative;
  &__img {
    max-width: 113%;
    
    //&.empty{
    //  position: absolute;
    //  top: 0;
    //  left: 0;
    //}
  }
  
  &__texts {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.block-map-text {
  position: absolute;
  z-index: 1;
  width: 100px;
  font-size: 9px;
  @media (min-width: 960px) {
    font-size: 12px;
    width: 200px;
  }
  @media (min-width: 1200px) {
    font-size: 13px;
  }
  
  &__direction {
    &__inner {
      /* Москва—Архангельск: */
      font-family: Open Sans, OpenSans-Bold, Roboto, sans-serif;
      font-weight: 700;
      font-size: inherit;
      color: #FFFFFF;
      letter-spacing: 0.18px;
    }
  }
  
  &__price {
    &__inner {
      /* от 4 560 ₽: */
      font-family: HelveticaNeueWeb, Helvetica Neue, HelveticaNeue-Bold, Roboto, sans-serif;
      font-weight: 700;
      font-size: inherit;
      color: #D0021B;
      letter-spacing: 0px;
    }
  }
}