.block-top {
  position: relative;
  &__header {
    box-sizing: border-box;
    height: 476px;
    position: relative;
    padding-top: 43px;
    &__back {
      position: absolute;
      bottom: -7px;
      left: 0;
      right: 0;
      text-align: center;
      height: 420px;
      z-index: 0;
      &__img {
        max-width: 100%;
      }
    }
    
    &__logo {
      margin-bottom: 48px;
      position: relative;
      z-index: 1;
      text-align: center;
    }
    
    &__text {
      position: relative;
      z-index: 1;
      text-align: center;
    }
    
    &__title {
      &__inner {
        /* Бронирование отелей: */
        font-family: Lucida Grande, LucidaGrande, sans-serif;
        font-weight: 400;
        font-size: 43px;
        color: #FFFFFF;
        letter-spacing: 0px;
      }
    }
  }
  
  &__form {
    min-height: 100px;
    padding-bottom: 61px - 20px + 50px;
  }
  
  &.js {
    margin-bottom: 61px;
    .block-top-triangle {
      position: absolute;
      bottom: -61px;
      left: 0;
      
      border-top: 61px solid #93CAC0;
      border-left: 61px solid transparent;
      border-right: 61px solid transparent;
      width: 0;
      height: 0;
      
    }
  }
  
  &.js & {
    &__form {
      padding-bottom: 61px - 20px;
    }
  }
}