section.block-top(style="background-color: #88A6B5; background-image: url('" + config.path.images + "back/top-back-5.png')")
  .block-top__header
    .container
      .block-top__header__logo
        a(href='https://www.onetwotrip.com', target='_blank')
          img(src=config.path.images + "logo/logo-white.svg", width=84, height=83).block-top__header__logo__img
      .block-top__header__text
        .block-top__header__title
          span.block-top__header__title__inner Более 10 000 отелей в поиске
        .block-top__header__desc
          span.block-top__header__desc__inner Неограниченный выбор путешествий
  .block-top__form
    .container
      .block-top__form__inner
        script(charset="utf-8" src="//partner.onetwotrip.com/build/widget/form.widget.load.js?id=8229"  async)
