doctype html

html
  head
    meta(charset="utf8")
    meta(name="viewport", content="width=device-width, initial-scale=1")

    block title
    block meta

    link(rel="stylesheet", href=config.path.css + 'layout.min.css')
    link(rel="stylesheet", href=config.path.css + 'fonts-neue.css')
    link(rel="stylesheet", href=config.path.css + 'fonts-intro.css')
    link(rel="stylesheet", href=config.path.css + 'components.min.css')

    link(href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&amp;subset=cyrillic-ext,latin-ext", rel="stylesheet")

    block styles
    block header_scripts


  body

    block body
    block footer_scripts
