.block-alternative{
  padding-top: 88px;
  padding-bottom: 81px - 21px;
  &__title{
    margin-bottom: 69px;
  }
  
  &__content{
    
  }
}

.block-option{
  max-width: 163px;
  margin: 0 auto 21px;
  text-align: center;
  &__circle{
    /* Oval 10 Copy: */
    background: #6DCCC1;
    height: 110px;
    width: 110px;
    border-radius: 50% ;
    position: relative;
    margin: 0 auto 20px;
  }
  
  &__icon{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    text-align: center;
    vertical-align: bottom;
    font-size: 0;
    &__img{
      position: absolute;
      bottom: -1px;
      display: block;
      margin: 0 auto;
      right: 0;
      left: 0;
    }
  }
  
  &__count{
    text-align: center;
    &__inner{
      /* 230 000: */
      font-family: Roboto, Roboto-Light, sans-serif;
      font-weight: 300;
      font-size: 35px;
      color: #969696;
      letter-spacing: 0px;
    }
  }
  
  &__text{
    text-align: center;
    &__inner{
      /* Отелей: */
      font-family: Roboto, Roboto-Regular, sans-serif;
      font-weight: 400;
      font-size: 18px;
      color: #969696;
      letter-spacing: 0px;
    }
  }
}