.block-top {
  padding-top: 72px;
  padding-bottom: 113px;
  
  background-size: cover;
  background-position: center;
  &__header {
    
    &__logo {
      margin-bottom: 75px;
      &__img {
        
      }
    }
    
    &__text{
      margin-bottom: 146px;
    }
     
    &__title{
      margin-bottom: 2px;
      &__inner{
        /* Более 10 000 отелей: */
        font-family: Open Sans, OpenSans-Bold, Roboto, sans-serif;
        font-weight: 700;
        font-size: 43px;
        color: #FFFFFF;
        letter-spacing: 0.61px;
      }
    }
    
    &__desc{
      &__inner{
        /* Неограниченный выбор: */
        font-family: Open Sans, OpenSans-Light, Roboto, sans-serif;
        font-weight: 300;
        font-size: 28px;
        color: #FFFFFF;
        letter-spacing: 0.4px;
        line-height: 39px;
      }
    }
  }
}