.block-how {
  padding-bottom: 71px - 14px;
  &__title {
    margin-bottom: 33px;
  }
  &__content {
    
  }
  
  &__icon {
    margin-bottom: 30px;
    &__img {
      max-width: 100%;
      @media (min-width: 960px) {
        margin-left: 20px;
      }
    }
  }
  
  &__text {
    &__inner {
      /* Мы находим для вас л: */
      font-family: HelveticaNeueWeb, Helvetica Neue, HelveticaNeue-Light, Roboto, sans-serif;
      font-weight: 300;
      font-size: 14px;
      color: #515151;
      letter-spacing: 0.2px;
      line-height: 26px;
      
      margin-bottom: 1em;
    }
  }
  text-align: center;
  
  @media (min-width: 768px){
    text-align: left;
  }
}