section.block-top(style="background-color: #93CAC0;")#top
  .block-top__header
    .block-top__header__back
      img(src=config.path.images + 'back/top-back-6.svg', width=608, height=420).block-top__header__back__img
    .container
      .block-top__header__logo
        a(href='https://www.onetwotrip.com', target='_blank')
          img(src=config.path.images + "logo/logo-white.svg", width=68, height=67).block-top__header__logo__img
      .block-top__header__text
        .block-top__header__title
          span.block-top__header__title__inner Бронирование отелей со скидками
  .block-top__form
    .container
      .block-top__form__inner
        script(charset="utf-8" src="//partner.onetwotrip.com/build/widget/form.widget.load.js?id=8255"  async)
script.
  (function () {
    'use strict'
    var top, triangle, w = window.innerWidth;
    document.addEventListener("DOMContentLoaded", function (event) {
      top = document.getElementById('top');
      top.className = 'block-top js';

      triangle = document.createElement('div');
      triangle.className = 'block-top-triangle';

      top.appendChild(triangle);
      triangle.style.borderLeftWidth = w / 2 + 'px';
      triangle.style.borderRightWidth = w / 2 + 'px';
    });

    window.addEventListener('resize', function (event) {
      var newW = window.innerWidth;
      if (newW == w)
        return true;
      w = newW;

      triangle.style.borderLeftWidth = w / 2 + 'px';
      triangle.style.borderRightWidth = w / 2 + 'px';
      return true;
    });
  }());
