@import '../../../assets/mixins';

.block-advantages {
  padding-top: 51px;
  padding-bottom: 78px - 20px;
  &__title {
    margin-bottom: 56px;
  }
  
  &__content {
    
  }
}

.block-advantage {
  margin-bottom: 20px;
  text-align: center;
  &__icon {
    margin-bottom: 21px;
    height: 94px;
    text-align: center;
    .vertical-middle(94px);
    &__img {
      display: inline;
      vertical-align: middle;
    }
  }
  
  &__text {
    max-width: 300px;
    margin: 0 auto;
  }
  &__title {
    margin-bottom: 24px;
    &__inner {
      /* Выбирайте лучшее: */
      font-family: PFAgoraWeb, PFAgora Sans Pro, PFAgoraSansPro-Bold, sans-serif;
      font-weight: 700;
      font-size: 22px;
      color: #000000;
      letter-spacing: 0px;
      line-height: 26px;
    }
  }
  &__desc {
    &__inner {
      /* Более 900 тыс. отеле: */
      font-family: Open Sans, OpenSans, Roboto, sans-serif;
      font-weight: 400;
      font-size: 14px;
      color: #000000;
      letter-spacing: 0.2px;
      line-height: 27px;
    }
  }
}
