extends ./../layout
block styles
  link(rel='stylesheet', href=config.path.css + 'land1.min.css')
block body
  .wrapper
    .wrapper__body
      include ./../sections/l1/l1-top/index
      include ./../sections/l1/l1-taste/index
      include ./../sections/l1/l1-calendar/index
      include ./../sections/l1/l1-how/index
      include ./../sections/l1/l1-popular/index
      include ./../sections/footer/index