extends ./../layout
block styles
  link(rel='stylesheet', href=config.path.css + 'land4.min.css')
  link(href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&amp;subset=cyrillic" rel="stylesheet")

block body
  .wrapper
    .wrapper__body
      include ./../sections/l4/l4-top/index
      include ./../sections/l4/l4-map/index
      include ./../sections/l4/l4-how/index
      include ./../sections/l4/l4-items/index
      include ./../sections/footer/air2