extends ./../layout
block styles
  link(rel='stylesheet', href=config.path.css + 'land3.min.css')
block body
  .wrapper
    .wrapper__body
      include ./../sections/l3/l3-top/index
      include ./../sections/l3/l3-advantages/index
      include ./../sections/l3/l3-popular/index
      include ./../sections/footer/air