extends ./../layout
block styles
  link(rel='stylesheet', href=config.path.css + 'land5.min.css')
  link(rel='stylesheet', href=config.path.css + 'fonts-agora.css')
  link(href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&amp;subset=cyrillic" rel="stylesheet")

block body
  .wrapper
    .wrapper__body
      include ./../sections/l5/l5-top/index
      include ./../sections/l5/l5-popular/index
      include ./../sections/l5/l5-infos/index
      include ./../sections/l5/l5-text/index
      include ./../sections/footer/rzhd