extends ./../layout
block styles
  link(rel='stylesheet', href=config.path.css + 'land6.min.css')
  link(rel='stylesheet', href=config.path.css + 'fonts-agora.css')
  link(href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&amp;subset=cyrillic" rel="stylesheet")

block body
  .wrapper
    .wrapper__body
      include ./../sections/l6/l6-top/index
      include ./../sections/l6/l6-advantages/index
      include ./../sections/l6/l6-best/index
      include ./../sections/l6/l6-alternative/index
      include ./../sections/footer/rzhd