extends ./../layout
block styles
  link(rel='stylesheet', href=config.path.css + 'land2.min.css')
block body
  .wrapper
    .wrapper__body
      include ./../sections/l2/l2-top/index
      include ./../sections/l2/l2-calendar/index
      include ./../sections/l2/l2-how/index
      include ./../sections/l2/l2-popular/index
      include ./../sections/footer/index