mixin block_advantage(src, size, title, desc)
  //
  .block-advantage
    .block-advantage__icon
      img(src=config.path.images + 'hotels/' + src + '.svg', width=size[0], height=size[1]).block-advantage__icon__img
    .block-advantage__text
      .block-advantage__title
        span.block-advantage__title__inner!= title
      .block-advantage__desc
        span.block-advantage__desc__inner!= desc


section.block-advantages
  .block-advantages__title
    .container
      .block-title
        .block-title__text
          span.block-title__text__inner Наши преимущества
        .block-title__icon
          .block-title__icon__line
          .block-title__icon__circle
            img(src=config.path.images + 'hotels/hotels-key.svg', width=36, height=33).block-title__icon__circle__img
  .block-advantages__content
    .container
      .row
        .col.col-lg--3-1.col-md--3-1.col-sm--8-4
          +block_advantage('hotels-cup', [75, 94], 'Выбирайте лучшее', 'Более 900 тыс. отелей, апартаментов, хостелов во всех уголках мира на любой вкус и кошелек.')
        .col.col-lg--3-1.col-md--3-1.col-sm--8-4
          +block_advantage('hotels-wallet', [82, 82], 'Не переплачивайте', 'У нас гарантированно честные и выгодные цены: без комиссий и скрытых платежей, все налоги включены.')
        .col.col-lg--3-1.col-md--3-1.col-sm--8-4.col-sm--offset-8-2.col-md--offset-8-0
          +block_advantage('hotels-money', [90, 87], 'Получайте бонусы', 'Вернём до 10% с каждого бронирования (1 трипкоин = 1 ₽) - копите и путешествуйте дешевле... еще дешевле… бесплатно!')
