@import "./../../../assets/mixins";

.block-top {
  padding-top: 67px;
  padding-bottom: 50px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  
  &__header {
    
    &__inner {
      position: relative;
      height: 0;
      
    }
    &__circle {
      /* Oval 4: */
      background: #D40303;
      height: 201px;
      width: 201px;
      border-radius: 50%;
      
      position: absolute;
      top: 0;
      right: 0;
      
      text-align: center;
      
      .vertical-middle(201px);
      
      &__inner {
        display: inline-block;
        vertical-align: middle;
      }
      
      &__title {
        margin-bottom: 2px;
        &__inner {
          text-transform: uppercase;
          /* САПСАН: */
          font-family: IntroWeb, Intro-Regular-Alt, Intro, sans-serif;
          font-weight: 400;
          font-size: 30px;
          color: #FFFFFF;
          letter-spacing: 1.49px;
        }
      }
      
      &__cost {
        &__inner {
          /* от 1500 ₽: */
          font-family: HelveticaNeueWeb, Helvetica Neue, HelveticaNeue-Light, Roboto, sans-serif;
          font-weight: 300;
          font-size: 23px;
          color: #FFFFFF;
          letter-spacing: 1.15px;
        }
      }
    }
    
    &__logo {
      margin-bottom: 150px;
      @media (min-width: 768px) {
        
      }
      @media (min-width: 960px) {
        
        margin-bottom: 87px;
      }
      &__img {
        
      }
    }
    
    &__text {
      margin-bottom: 85px;
    }
    
    &__title {
      &__inner {
        /* БИЛЕТЫ НА ПОЕЗДА РЖД: */
        font-family: HelveticaNeueWeb, Helvetica Neue, HelveticaNeue-Bold, Roboto, sans-serif;
        font-weight: 700;
        font-size: 34px;
        color: #FFFFFF;
        text-transform: uppercase;
        letter-spacing: 0.48px;
      }
    }
    
    &__desc {
      &__inner {
        /* Неограниченный выбор: */
        font-family: HelveticaNeueWeb, Helvetica Neue, HelveticaNeue-Light, Roboto, sans-serif;
        font-weight: 300;
        font-size: 28px;
        color: #FFFFFF;
        letter-spacing: 0.4px;
        line-height: 39px;
      }
    }
  }
  
  &__form {
    margin-bottom: 59px;
  }
  
  &__footer {
    
  }
  
}

.block-top-rzhd {
  max-width: 400px;
  margin: 0 auto 31px;
  font-size: 0;
  @media (min-width: 758px) {
    margin-bottom: 31px;
    width: auto;
  }
  
  &__icon, &__text {
    display: inline-block;
    vertical-align: middle;
    @media (min-width: 768px) {
      display: block;
    }
  }
  
  &__icon {
    width: 32%;
    @media (min-width: 768px) {
      text-align: center;
      margin-bottom: 31px;
      width: auto;
      
    }
    @media (min-width: 960px) {
      padding-left: 47px;
      text-align: left;
    }
    &__img {
      
    }
  }
  
  &__text {
    width:68%;
    @media (min-width: 768px) {
      margin-left: 0;
      width: auto;
    }
    
  }
  
  &__title {
    margin-bottom: 13px;
    &__inner {
      /* Моментальная покупка: */
      font-family: HelveticaNeueWeb, Helvetica Neue, HelveticaNeue-Bold, Roboto, sans-serif;
      font-weight: 700;
      font-size: 18px;
      color: #FFFFFF;
      letter-spacing: 0.25px;
      line-height: 26px;
    }
  }
  
  &__desc {
    &__inner {
      /* Оформление билетов н: */
      font-family: HelveticaNeueWeb, Helvetica Neue, HelveticaNeue-Roman, HelveticaNeue-Regular, Roboto, sans-serif;
      font-weight: 400;
      font-size: 14px;
      color: #FFFFFF;
      letter-spacing: 0.2px;
      line-height: 27px;
    }
  }
}