@import "./../../../assets/mixins";

.block-popular {
  padding-top: 61px;
  padding-bottom: 60px;
  &__title {
    margin-bottom: 67px;
  }
  
  &__content {
    margin-bottom: 70px;
  }
  
  &__footer {
    text-align: center;
    
    &__content {
      
      max-width: 700px;
      margin: 0 auto;
    }
    &__inner {
      /* При выборе авиарейса: */
      font-family: HelveticaNeueWeb, Helvetica Neue, HelveticaNeue-Light, Roboto, sans-serif;
      font-weight: 300;
      font-size: 16px;
      color: #6E6E6E;
      letter-spacing: 0px;
      line-height: 32px;
    }
  }
}

.block-populars {
  margin: 0 -4px;
  .clearfix();
  
  &__item {
    
    padding: 2px;
    float: left;
    width: 100%/2;
    box-sizing: border-box;
    
    &.big {
      width: 100%;
    }
  }
  
  @media (min-width: 768px) {
    &__item {
      width: 100%/2;
      
      &.big {
        width: 100%;
      }
    }
  }
  @media (min-width: 960px) {
    &__item {
      
      width: 100%/4;
      
      &.big {
        width: 50%;
      }
    }
  }
}

.block-popular-box {
  overflow: hidden;
  text-decoration: none;
  display: block;
  height: 150px;
  
  padding: 15px;
  box-sizing: border-box;
  position: relative;
  font-size: 0;
  @media (min-width: 768px) {
    height: 232px;
    
    padding: 36px;
  }
  
  &__back {
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
    background-color: rgba(255, 255, 255, 0);
    .transition(background .2s ease, transform .2s ease);
  }
  &__title,
  &__desc {
    position: relative;
    z-index: 1;
  }
  
  &__title {
    margin-bottom: 5px;
    &__inner {
      /* Париж: */
      font-family: Roboto, Roboto-Bold, sans-serif;
      font-weight: 700;
      font-size: 20px;
      color: #FFFFFF;
      letter-spacing: 0.28px;
    }
  }
  
  &__desc {
    &__inner {
      /* из Москвы: */
      font-family: Roboto, Roboto-Regular, sans-serif;
      font-weight: 400;
      font-size: 11px;
      color: #FFFFFF;
      letter-spacing: 0.15px;
      text-transform: uppercase;
    }
  }
  
  &__price {
    position: absolute;
    left: 15px;
    bottom: 15px;
    @media (min-width: 768px) {
      left: 36px;
      bottom: 36px;
      
    }
    &__inner {
      /* от 10 870 ₽: */
      
      font-family: Roboto, Roboto-Bold, sans-serif;
      font-weight: 700;
      font-size: 20px;
      color: #FFFFFF;
      letter-spacing: 0.28px;
    }
  }
  &.center {
    text-align: center;
    &:before, &:after {
      content: '';
      width: 0;
      display: inline-block;
      vertical-align: middle;
      
      height: 150px - 30px;
      @media (min-width: 768px) {
        height: 232px - 36px*2;
        
      }
    }
  }
  &.center & {
    
    &__inner {
      vertical-align: middle;
      display: inline-block;
    }
    &__title, &__desc, &__price {
      position: relative;
      top: auto;
      left: auto;
      bottom: auto;
      text-align: center;
    }
    &__title {
      
    }
    
    &__desc {
      margin-bottom: 15px;
      @media (min-width: 768px) {
        margin-bottom: 30px;
        
      }
    }
    
    &__price {
      
    }
  }
  
  &:hover & {
    &__back {
      background-color: rgba(255, 255, 255, .2);
      .scale(1.1);
    }
  }
}