.block-footer {
  /* Rectangle Copy: */
  background: #344145;
  position: relative;
  font-size: 0;
  padding-top: 24px;
  padding-bottom: 26px;
  
  &__logo, &__menu {
    vertical-align: middle;
    display: inline-block;
  }
  &__logo {
    width: 10%;
  }
  
  &__menu {
    width: 90%;
    
    &__title {
      padding-left: 30px;
      &__inner {
        /* Лучшие предложения н: */
        font-family: HelveticaNeueWeb, Helvetica Neue, HelveticaNeue-Bold, Roboto, sans-serif;
        font-weight: 700;
        font-size: 28px;
        color: #FFFFFF;
        letter-spacing: 0.4px;
        line-height: 39px;
      }
    }
    &__item {
      //display: inline-block;
      text-align: center;
      &__link {
        
        &:before {
          content: '';
          width: 8px;
          height: 13px;
          vertical-align: middle;
          display: inline-block;
          background: transparent url('@{pathImg}footer/arrow.png') 0 0 no-repeat;
          background-size: 8px 13px;
          margin-right: 13px;
        }
        
        padding: 10px 30px;
        display: block;
        /* Удобный поиск: */
        font-family: HelveticaNeueWeb, Helvetica Neue, HelveticaNeue-Roman, HelveticaNeue-Regular, Roboto, sans-serif;
        font-weight: 400;
        font-size: 14px;
        color: #FFFFFF;
        letter-spacing: 0px;
        &__inner {
          display: inline;
          vertical-align: middle;
        }
      }
    }
  }
  
  &.air1 {
    
    background: #4B8B96 url('@{pathImg}footer/footer-air.png') center no-repeat;
    background-size: cover;
  }
  
  &.air2 {
    
    background: #4B8B96 url('@{pathImg}footer/footer-air2.png') center no-repeat;
    background-size: cover;
  }
  
  &.rzhd {
    
    background: #C33344 url('@{pathImg}footer/footer-rzhd.png') center no-repeat;
    background-size: cover;
  }
  &.air &, &.rzhd & {
    
    &__menu {
      
      &__title {
        &__inner {
        }
      }
      &__item {
        //display: inline-block;
        text-align: left;
        &__link {
        }
      }
    }
  }
}