.block-items {
  padding-top: 72px;
  background: #D40303;
  padding-bottom: 54px;
}

.block-item {
  margin-bottom: 30px;
  position: relative;
  &__top {
    margin-bottom: 14px;
    font-size: 0;
    //height: 310px;
    position: relative;
    @media (min-width: 960px) {
      
      height: 59px;
    }
    &__icon, &__title {
      //  display: inline-block;
      //  vertical-align: bottom;
      text-align: center;
      @media (min-width: 960px) {
        position: absolute;
        bottom: 0;
        left: 0;
        text-align: left;
        
      }
    }
    &__icon {
      //position: absolute;
      margin-bottom: 20px;
      @media (min-width: 960px) {
        width: 30%;
        left: 0;
        margin-bottom: 0;
        
      }
      &__img {
        vertical-align: bottom;
      }
    }
    
    &__title {
      @media (min-width: 960px) {
        width: 65%;
        left: 30%;
      }
      &__inner {
        /* Моментальная покупка: */
        font-family: Open Sans, OpenSans-Bold, Roboto, sans-serif;
        font-weight: 700;
        font-size: 18px;
        color: #FFFFFF;
        letter-spacing: 0.25px;
        line-height: 26px;
      }
    }
  }
  
  &__bottom {
    &__desc {
      max-width: 300px;
      margin: 0 auto;
      text-align: center;
      @media (min-width: 960px) {
        text-align: left;
        margin-left: 30%;
        max-width: 100%;
      }
      &__inner {
        /* Оформление билетов н: */
        font-family: Open Sans, OpenSans, Roboto, sans-serif;
        font-weight: 400;
        font-size: 14px;
        color: #FFFFFF;
        letter-spacing: 0.2px;
        line-height: 27px;
      }
    }
  }
}