.block-top {
  padding-top: 64px;
  padding-bottom: 82px;
  
  background-position: center;
  background-size: cover;
  
  &__logo {
    margin-bottom: 39px;
  }
  
  &__text {
    margin-bottom: 48px;
    &__title {
      margin-bottom: 1px;
      &__inner {
        /* Неограниченный выбор: */
        font-family: HelveticaNeueWeb, Helvetica Neue, HelveticaNeue-Medium, Roboto, sans-serif;
        font-weight: 500;
        font-size: 28px;
        color: #FFFFFF;
        letter-spacing: 0.4px;
        line-height: 39px;
      }
    }
    
    &__desc {
      &__inner {
        /* Экономьте вместе с н: */
        font-family: HelveticaNeueWeb, Helvetica Neue, HelveticaNeue-Light, Roboto, sans-serif;
        font-weight: 300;
        font-size: 24px;
        color: #FFFFFF;
        letter-spacing: 0.34px;
        line-height: 39px;
      }
    }
  }
  
  &__form {
    &__inner {
      height: 166px;
  
      max-width: 780px;
      margin: 0 auto;
    }
  }
  
}