@font-face {
    font-family: "Intro-Black-Alt";
    src: url("Intro-Black-Alt.eot");
    src: url("Intro-Black-Alt.eot?#iefix") format("embedded-opentype"),
         url("Intro-Black-Alt.woff2") format("woff2"),
         url("Intro-Black-Alt.woff") format("woff"),
         url("Intro-Black-Alt.ttf") format("ttf"),
         url("Intro-Black-Alt.svg#Intro-Black-Alt") format("svg");
    font-style: normal;
    font-weight: heavy;
}