@font-face {
    font-family: "Intro-Regular-Alt";
    src: url("Intro-Regular-Alt.eot");
    src: url("Intro-Regular-Alt.eot?#iefix") format("embedded-opentype"),
         url("Intro-Regular-Alt.woff2") format("woff2"),
         url("Intro-Regular-Alt.woff") format("woff"),
         url("Intro-Regular-Alt.ttf") format("ttf"),
         url("Intro-Regular-Alt.svg#Intro-Regular-Alt") format("svg");
    font-style: normal;
    font-weight: normal;
}