mixin block_top_footer(src, title, desc)
  .block-top-rzhd
    .block-top-rzhd__icon
      img(src=config.path.images+'rzhd/'+src+'.svg', width=104, height=104).block-top-rzhd__icon__img
    .block-top-rzhd__text
      .block-top-rzhd__title
        span.block-top-rzhd__title__inner!= title
      .block-top-rzhd__desc
        span.block-top-rzhd__desc__inner!= desc

section.block-top(style="background-color:#58524B; background-image:url('" + config.path.images + "back/top-back-3.png')")
  .block-top__header
    .container
      .block-top__header__inner
        .block-top__header__circle
          .block-top__header__circle__inner
            .block-top__header__circle__title
              span.block-top__header__circle__title__inner САПСАН
            .block-top__header__circle__cost
              span.block-top__header__circle__cost__inner от 1500 ₽
      .block-top__header__logo
        a(href='https://www.onetwotrip.com', target='_blank')
          img(src=config.path.images + 'logo/logo-white.svg', width=84, height=83).block-top__header__logo__img
      .block-top__header__text
        h1.block-top__header__title
          .block-top__header__title__inner БИЛЕТЫ НА ПОЕЗДА РЖД
        .block-top__header__desc
          .block-top__header__desc__inner Неограниченный выбор путешествий


  .block-top__form
    .container
      .block-top__form__inner
        script(charset="utf-8", src="//partner.onetwotrip.com/build/widget/form.widget.load.js?id=8177",  async)
  .block-top__footer
    .container
      .row
        .col.col-sm--3-1
          +block_top_footer('rzhd-wallet', 'Моментальная покупка','Оформление билетов на сайте займет не больше 2 минут.')
        .col.col-sm--3-1
          +block_top_footer('rzhd-seats', 'Поездка на удобных местах','Выбирайте лучшие места в поезде на понятной схеме вагона.')
        .col.col-sm--3-1
          +block_top_footer('rzhd-save', 'Экономьте на путешествиях','Получайте до 3% от заказа в виде бонусов и оплачивайте ими отели и авиабилеты.')

