.block-advantages {
  padding-top: 112px;
  padding-bottom: 87px - 18px;
  &__content {
    
  }
  
  &__icon {
    text-align: center;
    margin-bottom: 40px;
    @media (min-width: 768px) {
      margin-bottom: 0;
      text-align: left;
    }
    
    @media (min-width: 960px) {
      margin-left: 30px;
      
    }
  }
  
  &__title {
    text-align: center;
    margin-bottom: 36px;
    @media (min-width: 768px) {
      text-align: left;
    }
  }
  
  &__list {
    list-style: disc;
    color: #D0021B;
    
    max-width: 500px;
    margin: 0 auto;
    @media (min-width: 768px) {
      max-width: 100%;
    }
    
    &__item {
      font-size: 18px;
      margin-bottom: 1em;
      @media (min-width: 768px) {
        padding-right: 50px;
        
      }
      
      span {
        /* Мы находим для вас л: */
        font-family: HelveticaNeueWeb, Helvetica Neue, HelveticaNeue-Light, Roboto, sans-serif;
        font-weight: 300;
        font-size: inherit;
        color: #4D4D4D;
        letter-spacing: 0.25px;
        line-height: 30px;
      }
    }
  }
}