@font-face {
    font-family: "HelveticaNeueCyr-Roman";
    src: url("HelveticaNeueCyr-Roman.eot");
    src: url("HelveticaNeueCyr-Roman.eot?#iefix") format("embedded-opentype"),
         url("HelveticaNeueCyr-Roman.woff2") format("woff2"),
         url("HelveticaNeueCyr-Roman.woff") format("woff"),
         url("HelveticaNeueCyr-Roman.ttf") format("ttf"),
         url("HelveticaNeueCyr-Roman.svg#HelveticaNeueCyr-Roman") format("svg");
    font-style: normal;
    font-weight: roman;
}