@font-face {
    font-family: "HelveticaNeueCyr-Black";
    src: url("HelveticaNeueCyr-Black.eot");
    src: url("HelveticaNeueCyr-Black.eot?#iefix") format("embedded-opentype"),
         url("HelveticaNeueCyr-Black.woff2") format("woff2"),
         url("HelveticaNeueCyr-Black.woff") format("woff"),
         url("HelveticaNeueCyr-Black.ttf") format("ttf"),
         url("HelveticaNeueCyr-Black.svg#HelveticaNeueCyr-Black") format("svg");
    font-style: normal;
    font-weight: 900;
}