@font-face {
    font-family: "HelveticaNeueCyr-UltraLight";
    src: url("HelveticaNeueCyr-UltraLight_0.eot");
    src: url("HelveticaNeueCyr-UltraLight_0.eot?#iefix") format("embedded-opentype"),
         url("HelveticaNeueCyr-UltraLight_0.woff2") format("woff2"),
         url("HelveticaNeueCyr-UltraLight_0.woff") format("woff"),
         url("HelveticaNeueCyr-UltraLight_0.ttf") format("ttf"),
         url("HelveticaNeueCyr-UltraLight_0.svg#HelveticaNeueCyr-UltraLight") format("svg");
    font-style: normal;
    font-weight: ultralight;
}