@font-face {
    font-family: "HelveticaNeueCyr-Thin";
    src: url("HelveticaNeueCyr-Thin.eot");
    src: url("HelveticaNeueCyr-Thin.eot?#iefix") format("embedded-opentype"),
         url("HelveticaNeueCyr-Thin.woff2") format("woff2"),
         url("HelveticaNeueCyr-Thin.woff") format("woff"),
         url("HelveticaNeueCyr-Thin.ttf") format("ttf"),
         url("HelveticaNeueCyr-Thin.svg#HelveticaNeueCyr-Thin") format("svg");
    font-style: normal;
    font-weight: 100;
}