footer.block-footer.rzhd
  .container
    .block-footer__logo
      img(src=config.path.images + 'logo/logo-white.svg', width=65, height=64).block-footer__logo__img
    .block-footer__menu
      .block-footer__menu__title
        .block-footer__menu__title__inner Лучшие предложения на ЖД билеты
      .row
        .block-footer__menu__item.col.col-md--3-1
          a(href="javascript:void(0)").block-footer__menu__item__link
            span.block-footer__menu__item__link__inner Удобный поиск
        .block-footer__menu__item.col.col-md--3-1
          a(href="javascript:void(0)").block-footer__menu__item__link
            span.block-footer__menu__item__link__inner Выгодные предложения
        .block-footer__menu__item.col.col-md--3-1
          a(href="javascript:void(0)").block-footer__menu__item__link
            span.block-footer__menu__item__link__inner Бонусы за покупки