@font-face {
  font-family: 'ALSRubl';
  src: url('@{pathFonts}Rouble/rouble.otf');
  src: url('@{pathFonts}Rouble/rouble.otf#iefix'), url('@{pathFonts}Rouble/rouble.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.icon-rub {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'ALSRubl' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  &.regular, & {
    &:before {
      content: "p";
    }
  }
  
  &.bold:before {
    content: "c";
  }
}