.text {
  
  color: black;
  
  font-family: HelveticaNeueWeb, Helvetica Neue, HelveticaNeue-Roman, HelveticaNeue-Regular, Roboto, sans-serif;
  font-weight: 400;
  
  &__inner {
    /* Воспользуйтесь нашим: */
    font-family: inherit;
    font-size: 16px;
    font-weight: inherit;
    letter-spacing: 0.22px;
    color: inherit;
    line-height: 1.2;
  }
  
  &.gray-blue {
    color: #96A6AB;
  }
  
  &.white {
    color: white;
  }
  
  &.light {
    font-family: HelveticaNeueWeb, Helvetica Neue, HelveticaNeue-Light, Roboto, sans-serif;
    font-weight: 300;
  }
  
}