.title {
  color: black;
  
  font-family: HelveticaNeueWeb, Helvetica Neue, HelveticaNeue-Roman, HelveticaNeue-Regular, Roboto, sans-serif;
  font-weight: 400;
  
  &__inner {
    color: inherit;
    font-family: inherit;
    font-weight: inherit;
  }
  
  h2& & {
    &__inner {
      /* Путешествия на любой: */
      
      font-size: 28px;
      letter-spacing: 0.4px;
      line-height: 1.4;
    }
  }
  
  &.white {
    color: white;
  }
  
  &.light {
    font-family: HelveticaNeueWeb, Helvetica Neue, HelveticaNeue-Light, Roboto, sans-serif;
    font-weight: 300;
  }
  
  &.bold {
    font-family: HelveticaNeueWeb, Helvetica Neue, HelveticaNeue-Bold, Roboto, sans-serif;
    font-weight: 700;
  }
  
  &.ops {
    font-family: Open Sans, OpenSans, Roboto, sans-serif;
    font-weight: 400;
    
    &.light {
      font-family: Open Sans, OpenSans-Light, Roboto, sans-serif;
      font-weight: 300;
    }
    
    &.bold {
      font-family: Open Sans, OpenSans-Bold, Roboto, sans-serif;
      font-weight: 700;
    }
  }
}