.block-text{
  padding-top: 86px;
  padding-bottom: 76px - 14px;
  &__content{
  }
}

.block-text-par{
  max-width: 600px;
  margin: 0 auto;
  font-size: 14px;
  margin-bottom: 1.5em;
  text-align: center;
  &__inner{
    /* Мы находим для вас л: */
    font-family: Open Sans, OpenSans, Roboto, sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #515151;
    letter-spacing: 0.2px;
    line-height: 26px;
  }
}