mixin block_offer(title, country, desc, price, src)
  //-
  a(href='javascript:void(0)').block-offer
    .block-offer__header
      .block-offer__header__city
        span.block-offer__header__city__inner!= title
      .block-offer__header__country
        span.block-offer__header__country__inner!= country
      .block-offer__header__desc
        span.block-offer__header__desc__inner!= desc
      .block-offer__header__price
        span.block-offer__header__price__inner!= price
    .block-offer__bottom
      .block-offer__bottom__image(style={'background-image' : 'url('+config.path.images + 'best/' + src + '.png)'})

section.block-best
  .block-best__title
    .container
      .block-title.gray
        .block-title__text
          span.block-title__text__inner Лучшие предложения
        .block-title__icon
          .block-title__icon__line
          .block-title__icon__circle
            img(src=config.path.images + 'hotels/hotels-lamp.svg', width=40, height=45).block-title__icon__circle__img
  .block-best__content
    .container
      .row
        .col.col-lg--8-2.col-md--3-1.col-xss--8-4
          +block_offer('Копенгаген', 'Дания', '20-25 августа, 2 взрослых', 'от 10 870 ₽', 'best-kopengagen')
        .col.col-lg--8-2.col-md--3-1.col-xss--8-4
          +block_offer('Стокгольм', 'Швеция', '20-25 августа, 2 взрослых', 'от 10 870 ₽', 'best-stokgolm')
        .col.col-lg--8-2.col-md--3-1.col-xss--8-4
          +block_offer('Гонконг', 'Китай', '20-25 августа, 2 взрослых', 'от 10 870 ₽', 'best-hongkong')
        .col.col-lg--8-2.col-md--3-1.col-xss--8-4
          +block_offer('Гонконг', 'Китай', '20-25 августа, 2 взрослых', 'от 10 870 ₽', 'best-hongkong-2')
        .col.col-lg--8-2.col-md--3-1.col-xss--8-4
          +block_offer('Пхукет', 'Тайланд', '20-25 августа, 2 взрослых', 'от 10 870 ₽', 'best-phuket')
        .col.col-lg--8-2.col-md--3-1.col-xss--8-4
          +block_offer('Севастополь', 'Крым, Россия', '20-25 августа, 2 взрослых', 'от 10 870 ₽', 'best-sevastopol')
        .col.col-lg--8-2.col-md--3-1.col-xss--8-4
          +block_offer('Калининград', 'Россия', '20-25 августа, 2 взрослых', 'от 10 870 ₽', 'best-kaliningrad')
        .col.col-lg--8-2.col-md--3-1.col-xss--8-4
          +block_offer('Гонконг', 'Китай', '20-25 августа, 2 взрослых', 'от 10 870 ₽', 'best-hongkong-3')
