@import "./../../../assets/mixins";

.block-popular {
  background: #453534;
  padding-top: 109px;
  padding-bottom: 154px - 9;
  
  &__title {
    margin-bottom: 71px;
  }
  
  &__content {
    
  }
}

.block-popular-items {
  margin: 0 -9px;
  .clearfix();
  &__item {
    box-sizing: border-box;
    padding: 9px;
    float: left;
    
    width: 50%;
    
    &.big {
      width: 100%;
    }
  }
  
  @media (min-width: 768px) {
    
  }
  @media (min-width: 960px) {
    &__item {
      width: 100%/3;
      
      &.big {
        width: 100%/3*2;
      }
    }
  }
  @media (min-width: 1200px) {
    &__item {
      width: 25%;
      
      &.big {
        width: 50%;
      }
    }
  }
}

.block-popular-box {
  display: block;
  text-decoration: none;
  height: 225px;
  background-color: #D40303;
  padding: 29px 25px;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  
  &__back {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: center;
    z-index: 0;
    background-color: rgba(255, 255, 255, 0);
    .stop-flickering();
    .transition(transform .2s ease);
  }
  
  &.big {
    height: 225px*2+18;
    padding: 42px 40px;
  }
  
  &__from, &__to {
    position: relative;
    z-index: 1;
    &__inner {
      /* Москва — Санкт-Петер: */
      font-family: Roboto, sans-serif;
      font-weight: 700;
      font-size: 20px;
      color: #FFFFFF;
      letter-spacing: 0.34px;
    }
  }
  
  &__from {
    margin-bottom: 3px;
  }
  
  &__to {
    margin-bottom: 7px;
  }
  
  &__country {
    position: relative;
    z-index: 1;
    &__inner {
      /* РОССИЯ: */
      font-family: Roboto, sans-serif;
      font-weight: 400;
      font-size: 12px;
      color: #FFFFFF;
      letter-spacing: 0.17px;
    }
  }
  
  &__price {
    position: absolute;
    bottom: 29px;
    left: 25px;
    &__inner {
      /* от 23 450 ₽: */
      font-family: Roboto, sans-serif;
      font-weight: 700;
      font-size: 20px;
      color: #FFFFFF;
      letter-spacing: 0.34px;
    }
  }
  
  &.big & {
    
    &__from, &__to {
      &__inner {
        font-size: 24px;
      }
    }
    
    &__country {
      &__inner {
        font-size: 18px;
      }
    }
    
    &__price {
      bottom: 42px;
      left: 40px;
      &__inner {
        /* от 23 450 ₽: */
        font-size: 24px;
      }
    }
  }
  &:hover {
  }
  &:hover & {
    &__back {
      background-color: rgba(255, 255, 255, .3);
      .scale(1.1);
    }
  }
}
