mixin block_item(src, size, title, text)
  //
  .block-item
    .block-item__top
      .block-item__top__icon
        img(src=config.path.images + 'rzhd/' + src + '.svg', width=size[0], height=size[1]).block-item__top__icon__img
      .block-item__top__title
        span.block-item__top__title__inner!= title
    .block-item__bottom
      .block-item__bottom__desc
        span.block-item__bottom__desc__inner!= text

section.block-items
  .block-items__content
    .container
      .row
        .col.col-sm--3-1
          +block_item('rzhd-moment', [59, 59], 'Моментальная покупка', 'Оформление билетов на сайте займет не больше 2 минут.')
        .col.col-sm--3-1
          +block_item('rzhd-train', [64, 48], 'Поездка на&nbsp;удобных&nbsp;местах', 'Выбирайте лучшие места в поезде на понятной схеме вагона.')
        .col.col-sm--3-1
          +block_item('rzhd-earth', [59, 59], 'Экономьте на&nbsp;путешествиях', 'Получайте до 3% от заказа в виде бонусов и оплачивайте ими отели и авиабилеты.')