mixin block_map_text(direction, price, w, t, l)
  .block-map-text(style={
    top   : t + '%',
    left  : l + '%'
  })
    .block-map-text__direction(class=(w ? 'text-right' : ''))
      span.block-map-text__direction__inner!= direction
    .block-map-text__price(class=(w ? 'text-right' : ''))
      span.block-map-text__price__inner!= price

section.block-map
  .block-map__title
    .container
      h2.title.bold.white.ops
        span.title__inner Популярные направления
  .block-map__content
    .container
      .block-map__content__inner
        .block-map-image
          //img(src=config.path.images + 'rzhd/map/map.svg').block-map-image__img
          img(src=config.path.images + 'rzhd/map/emptymap.svg').block-map-image__img.empty
          .block-map-image__texts
            +block_map_text('Санкт-Петербург —&nbsp;Хельсинки', 'от 4 560 ₽', true, 47, -3)
            +block_map_text('Москва —&nbsp;Архангельск', 'от 4 560 ₽', false, 40, 29)
            +block_map_text('Москва —&nbsp;Ростов-на-Дону', 'от 4 560 ₽', false, 87, 22)
            +block_map_text('Москва —&nbsp;Самара', 'от 4 560 ₽', false, 77, 29)
            +block_map_text('Москва —&nbsp;Екатеринбург', 'от 4 560 ₽', false, 52, 44)
            +block_map_text('Новосибирск —&nbsp;Владивосток', 'от 4 560 ₽', false, 60  , 56)
            +block_map_text('Новосибирск —&nbsp;Хабаровск', 'от 4 560 ₽', false, 77  , 77)
            +block_map_text('Москва —&nbsp;Владивосток', 'от 4 560 ₽', false, 92  , 77)


