.block-infos {
  /* Rectangle 9 Copy: */
  background: #39667F;
  padding-top: 109px;
  padding-bottom: 98px - 45px;
  &__content {
    
  }
}

.block-info {
  margin-bottom: 45px;
  min-height: 158px;
  font-size: 0;
  &__icon{
    display: inline-block;
    width: 40%;
    vertical-align: top;
    text-align: center;
    &__img{
      
    }
  }
  
  &__text{
    display: inline-block;
    width: 60%;
    vertical-align: top;
  }
  
  &__title{
    margin-bottom: 22px;
    &__inner{
      /* Выбирайте лучшее: */
      font-family: PFAgoraWeb, PFAgora Sans Pro, PFAgoraSansPro-Bold, sans-serif;
      font-weight: 700;
      font-size: 22px;
      color: #FFFFFF;
      letter-spacing: 0px;
      line-height: 26px;
    }
  }
  
  &__desc{
    &__inner{
      /* Более 900 тыс. отеле: */
      font-family: Open Sans, OpenSans, Roboto, sans-serif;
      font-weight: 400;
      font-size: 14px;
      color: #FFFFFF;
      letter-spacing: 0.2px;
      line-height: 27px;
    }
  }
}