section.block-top(style="background-color:#8FC5D8; background-image: url('" + config.path.images + "back/top-back-1.png')")
  .block-top__logo.text-center
    .container
      a(href='https://www.onetwotrip.com', target='_blank')
        img(src=config.path.images + 'logo/logo-dark.svg', width=90, height=88).block-top__logo__img
  .block-top__text.text-center
    .container
      .block-top__text__title
        h1.block-top__text__title__inner Неограниченный выбор путешествий по лучшим ценам
      .block-top__text__desc
        span.block-top__text__desc__inner Экономьте вместе с нами!
  .block-top__form
    .container
      .block-form
        .block-form__inner
          script(charset="utf-8", src="//partner.onetwotrip.com/build/widget/form.widget.load.js?id=8152", async)