.block-taste {
  padding-top: 50px;
  padding-bottom: 34px;
  background: #344145;
  &__title {
    margin-bottom: 14px;
  }
  
  &__desc{
    margin-bottom: 41px;
  }
}

.block-trip_taste {
  margin-bottom: 30px;
  &__icon {
    text-align: center;
    height: 87px;
    margin-bottom: 17px;
    &__img {
      vertical-align: top;
    }
  }
  
  &__desc {
    text-align: center;
    
    .text {
      font-family: Roboto, sans-serif;
      font-weight: 400;
    }
  }
}