mixin block_option(src, size, count, text)
  //-
  .block-option
    .block-option__circle
      .block-option__icon
        img(src=config.path.images + 'hotels/' + src + '.svg', width=size[0], height=size[1]).block-option__icon__img
    .block-option__count
      span.block-option__count__inner!= count
    .block-option__text
      span.block-option__text__inner!= text

section.block-alternative
  .block-alternative__title
    .container
      .block-title
        .block-title__text
          span.block-title__text__inner От недорогих хостелов до пятизвездочных отелей
        .block-title__icon
          .block-title__icon__line
          .block-title__icon__circle
            img(src=config.path.images + 'hotels/hotels-rank.svg', width=36, height=36).block-title__icon__circle__img
  .block-alternative__content
    .container
      .row
        .col.col-lg--8-2.col-xss--8-4.col-sm--8-2
          +block_option('hotels-hotels',[98, 95],'230 000','Отелей')
        .col.col-lg--8-2.col-xss--8-4.col-sm--8-2
          +block_option('hotels-hostel',[96, 96],'10 000','Хостелов')
        .col.col-lg--8-2.col-xss--8-4.col-sm--8-2
          +block_option('hotels-flat',[102, 91],'34 000','Квартир')
        .col.col-lg--8-2.col-xss--8-4.col-sm--8-2
          +block_option('hotels-house',[94, 81],'34 000','Загородных домов')
