section.block-top(style="background-color: #685C5C; background-image: url('" + config.path.images + "back/top-back-4.png')")
  .block-top__header
    .container
      .block-top__header__inner
        .block-top__header__logo
          a(href='https://www.onetwotrip.com', target='_blank')
            img(src=config.path.images + 'logo/logo-white.svg', width=84, height=83).block-top__header__logo__img
        .block-top__header__circle
          .block-top__header__circle__inner
            .block-top__header__circle__title
              span.block-top__header__circle__title__inner САПСАН
            .block-top__header__circle__cost
              span.block-top__header__circle__cost__inner от 1500 ₽
  .block-top__text
    .container
      .block-top__text__title
        span.block-top__text__title__inner БИЛЕТЫ НА ПОЕЗДА РЖД
      .block-top__text__desc
        span.block-top__text__desc__inner Неограниченный выбор путешествий
  .block-top__form
    .container
      .block-top__form__inner
        script(charset="utf-8", src="//partner.onetwotrip.com/build/widget/form.widget.load.js?id=8182", async)