.block-how {
  padding-top: 84px;
  padding-bottom: 98px;
  &__title {
    margin-bottom: 62px;
  }
  
  &__content {
    
  }
  
  &__icon {
    margin-bottom: 20px;
    &__img {
      
    }
  }
  &__text {
    &__inner {
      /* Мы находим для вас л: */
      font-family: Open Sans, OpenSans, Roboto, sans-serif;
      font-weight: 400;
      font-size: 14px;
      color: #515151;
      letter-spacing: 0.2px;
      line-height: 26px;
  
      margin-bottom: 1.4em;
    }
  }
}