@import "./../../../assets/mixins";
@import "./../../../assets/mixins";

.block-cal {
  padding-top: 49px;
  padding-bottom: 86px;
  &__title {
    margin-bottom: 55px;
  }
  
  &__calendar {
    
  }
}

.block-calendar {
  margin: 0 -10px;
  .clearfix();
  
  &__options, &__result {
    padding: 0 10px;
    min-height: 1px;
    box-sizing: border-box;
    margin-bottom: 12px;
    @media (min-width: 960px) {
      float: left;
      margin-bottom: 0;
    }
    
  }
  
  &__options {
    @media (min-width: 960px) {
      
      width: 221px + 2*10px;
    }
  }
  
  &__result {
    @media (min-width: 960px) {
      width: 768px + 2*10px - (221px + 2*10px);
    }
    @media (min-width: 1200px) {
      width: 960px + 2*10px - (221px + 2*10px);
    }
    
    &__list {
      margin: 0 -8px;
      .clearfix();
    }
    
    &__item {
      float: left;
      box-sizing: border-box;
      padding: 0 8px;
      margin-bottom: 12px;
      width: 100%/2;
      
      @media (min-width: 600px) {
        width: 100%/4;
      }
    }
  }
  
}

.block-calendar_options {
  border: 1px solid #DFDFDF;
  border-radius: 4px;
  
  position: relative;
  
  @media (min-width: 960px) {
    height: 285px - 2px;
  }
  &__main {
    padding: 22px 21px 0;
    font-size: 0;
    
    @media (min-width: 960px) {
      padding: 22px 21px;
    }
    
    &__inputs,
    &__radio {
      box-sizing: border-box;
      vertical-align: middle;
      @media (min-width: 450px) {
        
        display: inline-block;
        width: 50%;
      }
      @media (min-width: 960px) {
        width: 100%;
        display: block;
      }
      
    }
    &__inputs {
      margin-bottom: 17px;
    }
    
    &__radio {
      margin-bottom: 17px;
      @media (min-width: 450px) {
        padding-left: 40px;
        
      }
      @media (min-width: 960px) {
        margin-bottom: 15px;
        padding-left: 0;
      }
    }
    
  }
  
  &__add {
    
    padding: 0 21px 13px;
    @media (min-width: 960px) {
      
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
    }
  }
  &__control {
    display: block;
    margin-bottom: 10px;
    
    &__input, &__radio, &__check, span {
      vertical-align: middle;
      display: inline-block;
      
      font-family: Roboto, sans-serif;
      font-weight: 400;
    }
    &__input {
      display: block;
      width: 100%;
      box-sizing: border-box;
      background: #FFFFFF;
      border: 1px solid #B9BDC3;
      border-radius: 4px;
      padding: 10px 11px;
      
      /* Москва: */
      font-size: 14px;
      color: #3A494F;
      letter-spacing: 0.2px;
      
    }
    
    &__radio {
      
    }
    
    &__check {
      
    }
    
    span {
      font-family: Roboto, sans-serif;
      font-weight: 400;
      
      font-size: 13px;
      color: #474747;
      letter-spacing: 0px;
    }
  }
  
  &__del {
    border: 1px solid #DFDFDF;
    border-bottom: 0;
    margin-bottom: 10px;
    display: none;
    &.small {
      display: block;
    }
    @media (min-width: 960px) {
      display: block;
    }
  }
  
}

.block-calendar_date {
  /* Rectangle 20: */
  border: 1px solid #DFDFDF;
  border-radius: 4px;
  display: block;
  width: 100%;
  height: 87px - 2px;
  text-decoration: none;
  text-align: center;
  
  &:before, &:after {
    width: 0;
    content: '';
    vertical-align: middle;
    height: 87px;
    display: inline-block;
  }
  
  &__inner {
    display: inline-block;
    vertical-align: middle;
  }
  
  &:hover {
    background: #7ACDD5;
    border-color: #7ACDD5;
  }
  
  &__month {
    /* Август: */
    &__inner {
      
      font-family: Roboto, sans-serif;
      font-weight: 400;
      font-size: 13px;
      color: #6F6F6F;
      letter-spacing: 0.18px;
      line-height: 18px;
    }
  }
  
  &__price {
    &__inner {
      /* 12 950 ₽: */
      font-family: Roboto, sans-serif;
      font-weight: 400;
      font-size: 18px;
      color: #383838;
      letter-spacing: 0.25px;
    }
  }
  
  &:hover & {
    &__month {
      margin-bottom: 1px;
      /* Август: */
      &__inner {
        
        color: white;
      }
    }
    
    &__price {
      &__inner {
        color: white;
      }
    }
  }
}
